<!-- Modal -->

<div class="modal fade" id="unbanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'unban-profile' user.id %}" method="post">
            {% csrf_token %}
            
            <div class="mb-3">

                <p>Bu userin banını kaldırmak üzeresiniz.</p>
            </div>

   
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Unban</button>
        </div>

        </form>
        </div>


      </div>
    </div>
  </div>