{% for id, form in updateForm %}

<div class="modal fade" id="exampleModal-{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tweet Oluştur</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      <form class="createForm" action="{% url 'tweet-update' id %}" method="post">

          {% csrf_token %}
          {{form}}
       
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Oluştur</button>
      </div>

      </form>
      </div>


    </div>
  </div>
</div>

{% endfor %}